{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_home %}
    {% block layout_main_navigation_menu_home_before %}{% endblock %}

    {% if config('SschreierStickyMenu.config.showNavigationMenuItemHome') %}
        {% if config('SschreierStickyMenu.config.replaceNavigationMenuItemHomeWithIcon') %}
             <a class="nav-link main-navigation-link{% if controllerAction is same as('home') %} active{% endif %} home-link"
                href="{{ path('frontend.home.page') }}"
                itemprop="url"
                title="{{ "general.homeLink"|trans|striptags }}">
                <div class="main-navigation-link-text">
                    <span class="icon-home-container">{% sw_icon 'home' %}</span>
                </div>
            </a>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% else %}
    {% endif %}

    {% block layout_main_navigation_menu_home_after %}{% endblock %}
{% endblock %}

{% block layout_main_navigation %}
    {% block layout_main_navigation_before %}{% endblock %}

    {% if config('SschreierStickyMenu.config.stickyMenuIsActive') %}
        {% set activeViewportsStickyMenuString = "" %}

        {% for activeViewportStickyMenu in config('SschreierStickyMenu.config.activeViewportsStickyMenu') %}
            {% set activeViewportsStickyMenuString = activeViewportsStickyMenuString ~ activeViewportStickyMenu %}
        {% endfor %}

        {% if activeViewportsStickyMenuString == "lgxl" or activeViewportsStickyMenuString == "xllg" %}
            {% set notActiveViewportsStickyMenuString = "'XS', 'SM', 'MD'" %}
        {% elseif activeViewportsStickyMenuString == "lg" %}
            {% set notActiveViewportsStickyMenuString = "'XS', 'SM', 'MD', 'XL'" %}
        {% elseif activeViewportsStickyMenuString == "xl" %}
            {% set notActiveViewportsStickyMenuString = "'XS', 'SM', 'MD', 'LG'" %}
        {% elseif activeViewportsStickyMenuString == "" %}
            {% set notActiveViewportsStickyMenuString = "'XS', 'SM', 'MD', 'LG', 'XL'" %}    
        {% endif %}

        {% block layout_main_navigation_inner_before %}{% endblock %}

        <div class="main-navigation-wrapper"
             data-sticky-menu="true"
             data-sticky-menu-plugin-options='{
                "positionStickyMenuIsActive": "{{ config('SschreierStickyMenu.config.positionStickyMenuIsActive') }}",
                "notActiveViewportsStickyMenu": "{{ notActiveViewportsStickyMenuString }}"
             }'>
            {{ parent() }}
        </div>

        {% block layout_main_navigation_inner_after %}{% endblock %}
    {% else %}
        {{ parent() }}
    {% endif %}

    {% block layout_main_navigation_after %}{% endblock %}
{% endblock %}